$form-bg: #f7f5f9;
$button-bg: #6979f8;
$title-c: #3b3d43;
$title-fs: 24px;
$title-lh: 20px;
$btn-fs: 17px;
$input-fs: 15px;
$main-font: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$input-c: #D0C9D6;
$input-bs: 0px 7px 64px rgba(0, 0, 0, 0.07);
